body{
	background-image: url('/wp-content/themes/pekki/images/bg-1-blue.jpg');
}

p {
	font-family: 'PT Serif Caption', serif;
	font-size: 13px;
	}

.entry li{
	font-family: 'PT Serif Caption', serif;
	font-size: 13px;
	padding-bottom: 0.5em;
	} 
	
a {
	color: #1985B5;
}

img {
	border: 0;
}

h1 {
	margin-top: 15px;
	margin-bottom: 0;
	}

h1 a{
	color: #000000;
	font-family: 'Cabin Sketch', cursive;
	text-decoration: none;
	font-size: 1.5em;
	} 

h2 {
	display: inline;
	color: #000000;
	font-family: 'Love Ya Like A Sister', Serif ;
	} 

h2 a {
	color: #000000;
	text-decoration: none;
	}

.menu-item {
	display: inline;
	}
	
#menu-links .menu-item {
	display: block;
}

h3	{
	/*font-family: 'Josefin Slab', serif;*/
	font-family: 'PT Serif Caption', serif;
	margin:0;
	}

#wrapper{
	width: 1000px; 
	margin: auto; 
	margin-bottom:50px; 
	text-align: left; 
	background: #fff;
	-moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25) inset;
	-webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25) inset;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25) inset;
	background-image: url('/wp-content/themes/pekki/images/backgrounds/Texture0103.jpg')
	}

#header     {
	background: #FFFFFF;
	background-image: url('/wp-content/themes/pekki/images/backgrounds/Texture0103.jpg');
	height: 100px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px 0 20px 37px;
	border-bottom: 1px solid #ccc;
	-moz-box-shadow: 0px 20px 15px -20px rgba(0, 0, 0, 0.25) inset;
	-webkit-box-shadow: 0px 20px 15px -20px rgba(0, 0, 0, 0.25) inset;
	box-shadow: 0px 20px 15px -20px rgba(0, 0, 0, 0.25) inset;	
	}

#header-text{
	display: inline;
	float: left;
}
	
#header-bild{
	display: inline;
	float: right;
	margin: -15px 100px 0 0;
}
	
#navigation  ul {
	height: 30px;
	margin: 0; 
	padding: 5px 0 25px 25px;
	}
	
#navigation  li {
	font-family: 'Cabin Sketch', cursive;
	font-size: 1.7em;
	/*display:inline; */
	//background: #EEEEEE;
	margin: 0 0 10px 10px;
	padding: 8px 0 14px 3px;
	}
	
#navigation  a{
	color: #FFFFFF;
	text-decoration: none;
	/*background: url('/wp-includes/images/2-bg-green.jpg');*/
	background: #000000;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-right: -2px
	}
	
#main {
	width: 640px; 
	padding: 0px 20px 20px 20px; 
	float: left;
	}
	
.entry{
	margin-left: 30px;
	margin-top: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
}

.alignleft {
	display: inline;
	float: left;
	margin-bottom: 12px;
	margin-right: 12px;
}

.entry-page{
	margin-left: 30px;
	padding-bottom: 15px;
}

.sticky {
  //-webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: #F4F39E;
  border-color: #DEE184;
  text-align: center;
  margin: 2.5em 0px;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}
.sticky.taped:after {
  display: block;
  content: "";
  position: absolute; 
  width: 30px;
  height: 20px;
  top: -13px;
  left: 35%;    
  border: 1px solid #fff;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);  
}

.date{
	font-family: 'IM Fell DW Pica', serif;
	font-size: 1.3em;
	float:left;
	margin-left: -70px;
	margin-top: 20px;
	padding: 10px;	
}

.picasaAlbumPicture { 
	float: left;
	padding: 0 8px 8px 0;
}

#albumQuelle {
	clear: left;
}

.comment{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
}

.reply{
	display: none;
}

#respond{
	margin-top: 10px;
}

.recaptcha-error{
	font-size: 1em;
}

#sidebar {
	list-style: none;
	width: 300px; 
	padding: 10px; 
	float: left;
	font-family: 'PT Serif Caption', serif;
	margin-top: 20px;
	}
	
.widget {
	margin-bottom: 20px;
}

.widgettitle {
	margin-bottom: 10px;
}
	
#sidebar .widget ul {
	font-size: 13px;
	list-style-type: none;
	padding-left: 0;
}

#sidebar .widget ul .children{
	padding-left: 20px;
}
	
.twtr-hd {
	display: none;
}

.twtr-ft{
	display: none;
}

.twtr-reply{
	display: none;
}

.twtr-rt{
	display: none;
}

.twtr-fav{
	display: none;
}

.twtr-tweet-wrap{
	padding: 6px 8px 6px 0px ! important;
}

/* fix for twitter widget bug that ignores avatar setting */
.twtr-tweet-text { margin-left: 0px !important; }
.twtr-user { display: none; }
.twtr-avatar { display: none !important; }

.tagcloud{
	padding-right: 8px;
}

#picasaStream img {
	margin: 0 10px 10px 0;
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
}

.screen-reader-text {
	display: none;
}

#searchsubmit {
	border: 1px solid #ccc;
	font-size: 15px;
	background-color: transparent;
	color: #000000;
	font-family: 'PT Serif Caption',serif;
}

.textwidget a{
	font-size: 13px;
	}

#more {
	margin-left: 30px;
	margin-top: 30px;
	padding-bottom: 15px;
}

#more a {
	text-decoration: none;
	color: #000000;
}

.prev-posts {
	display: inline;
	float: right;
}

.next-posts {
	display: inline;
	//float: left;
}
	
.kontinent{
	clear:both;
	padding-top: 10px;
}

.polaroid{
	display: inline;
	float: left;
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
	height:206px;
	width:178px;
	background:url('/wp-content/themes/pekki/images/polaroid.gif') no-repeat left;
	margin: 5px 20px 15px 0px;
}

.polaroid-bild{
	margin: 8px 8px 0 8px;
}

.polaroid-text{
	margin-top: -2px;
}

.polaroid-text a{
	color: #000000;
	text-decoration: none;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 18px;
}

.polaroid-bild img{
	border: 1px solid #CCC;
}

.polaroid-text{
	text-align:center;
}

#footer	{
	background: #FFFFFF;
	background-image: url('/wp-content/themes/pekki/images/backgrounds/Texture0115.jpg');
	clear: both;
	height: 40px;
	width: 990px;
	padding: 0px 0px 15px 10px;
	box-shadow: inset -15px 25px 20px -30px #000;
	}
	
#footer a {
	color: #000000;
	text-decoration: none;
	font-family: 'PT Serif Caption',serif;
	font-size: 16px;
	padding-right: 20px;
}

.menu-footer-navigation-container{
	display: inline;
	float: left;
}

.social{
	padding-top: 5px;
}

.fb_iframe_widget{
	vertical-align: top;
}

#fb-main  {
	display: inline;
	float: right;
	margin-top: 20px;
}